global:
  scrape_interval: 15s 
  evaluation_interval: 15s

scrape_configs:
 
  - job_name: 'his-application'
    static_configs:
      - targets: ['host.docker.internal:3000'] 
       
    metrics_path: '/metrics' 

 
  - job_name: 'mongodb'
    static_configs:
      - targets: ['mongodb-exporter:9216']

  
  - job_name: 'rabbitmq'
    static_configs:
      - targets: ['localhost:15692']